* {
    margin: 0
}

.main {
    border-style: solid;
    width: 500px;
    color: black;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(242, 239, 239);



}

section {
    background-color: rgb(242, 239, 239);
}



.barra {
    padding-top: 10px;

}

.textarea {
    width: 400px;
    height: 20px;
    margin-bottom: 20px;
}

button {
    background-color: grey;
    width: 80px;
    color: white;
}

.final {
    display: grid;
    grid-template-areas: "conteo id tareas";
    grid-template-columns: 30% 20% auto;

}

#tablaTareas {
    border-style: solid;
    border: solid 2px black
}